<section class="tableTemplate__container">
  <h1 class="principal__title">{{title}}</h1>

  @if(templateAllServices$ | async; as templates){
    <table>
      <thead class="table__head">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Solicitud</th>
        </tr>
      </thead>
    
      @for(template of templates; track template.id){
        <tbody class="table__body">
          <tr>
            <td>
              <a [routerLink]="['/template-details', template.id]">
                {{template.id}}
              </a>
            </td>
            <td>{{template.nombre}}</td>
            <td>{{template.descripcion}}</td>
            <td>GET</td>
          </tr>
        </tbody>
      }

    </table>
  }

 
</section>